<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="https://cdn.glitch.com/633944d6-0a6c-4645-8450-cce5e30df226%2Ffavicon.png?v=1624722500224" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <title>Rate My Housing</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
  
    
    <script>
      
      function testButton() {
        var input = document.getElementById("search_input").value.toLowerCase();
        if(input == "icon"){
          window.open("/Reviews_Icon.html", "_self");
        }else if(input == "lester"){ 
          window.open("/Reviews_Lester.html", "_self");
        }else if(input == "preston"){
          window.open("/Reviews_Preston.html", "_self")
        }else if(input == "blair"){
          window.open("/Reviews_Blair.html", "_self");
        }else if(input == "hespeler"){
          window.open("/Reviews_Hespeler.html", "_self");
        }else if(input == "fergus"){
          window.open("/Reviews_Fergus.html", "_self");
        }else if(input == "accomod8u"){
          window.open("/Reviews_Accomod8u.html", "_self")
        }else if(input == "sage"){
          window.open("/Reviews_Sage.html", "_self");
        }else if(input == "king"){
          window.open("/Reviews_King.html", "_self");
        }
      }
    </script>
  </head>
  <body>
    <div class="navigation" id="navbar">
       
      <nav class="navbar navbar-expand-lg navbar-dark the-navbar">
         
        <img class="logo" src="https://cdn.glitch.com/633944d6-0a6c-4645-8450-cce5e30df226%2Fuwlogo.png?v=1624759506838" width="90" height="90" style="margin-left:20px;" alt="">
        
        <form class="d-flex mx-auto">
        <input class="form-control me-2" id="search_input" type="search" placeholder="Search A Dorm!" aria-label="Search" style="width:500px; text-align:center;">
          
        <button class="btn btn-outline-success" type="button" onclick="testButton()"><i class="fa fa-search"></i></button>
      </form>
      </nav>
    </div>
    <!--        add slideshow images> -->
    

    
    <div class="slidershow middle">

      <div class="slides">
        <input type="radio" name="r" id="r1" checked>
        <input type="radio" name="r" id="r2">
        <input type="radio" name="r" id="r3">
        <input type="radio" name="r" id="r4">
        <input type="radio" name="r" id="r5">
        <div class="slide s1">
          <img src="https://cdn.glitch.com/633944d6-0a6c-4645-8450-cce5e30df226%2Fwaterloopic%20copy.png?v=1624718873750" alt="">
        </div>
        <div class="slide">
          <img src="https://shared-s3.property.ca/public/images/listings/optimized/x5054586/mls/x5054586_1.jpg?v=2" alt="">
        </div>
        <div class="slide">
          <img src="https://prestonhouse.ca/wp-content/uploads/2021/03/REZONE174-min-scaled.jpg" alt="">
        </div>
        <div class="slide">
          <img src="https://cdngeneral.rentcafe.com/dmslivecafe/2/92377/REZONE140.jpg?width=850&quality=80" alt="">
        </div>
        <div class="slide">
          <img src="https://www.helixsteel.com/wp-content/uploads/2020/06/ICON-330-Tower-thumb.jpg" alt="">
        </div>
      </div>

      <div class="navigation2">
        <label for="r1" class="bar"></label>
        <label for="r2" class="bar"></label>
        <label for="r3" class="bar"></label>
        <label for="r4" class="bar"></label>
        <label for="r5" class="bar"></label>
      </div>
    </div>
    
    <div class = "space"></div> 
<!--     <img class="headerpic" src="https://cdn.glitch.com/633944d6-0a6c-4645-8450-cce5e30df226%2Fheaderdesign.png?v=1624769436820" alt="">  -->
    
  <h1 class="heading-title">Off Campus Residences</h1>

  <div class="wrapper">
  <div>
    <a href="/Reviews_Icon.html"><img class="cards" src="https://www.iconstudents.com/shared/skins/default/images/meet-icon-skyrise.jpg" alt="Icon">Icon</a>
  </div>
  <div>
    <a href="/Reviews_Lester.html"><img class="cards" src="https://lh3.googleusercontent.com/proxy/xeLKfE-Pf-PxLsivuaP-hAm--A5T0Ot3EJuUylzaDQLPeMtG9uaoSu027BUoELfZ-3q0p569XeFevrgQxyckO86at5tL2lfATwCJWTdqr50R-LZ-vb8AES1Y7HqribmZcmReAlrPusmk-pO70jwfNHrEw_f_N1Q" alt="Lester">Lester</a>
  </div>
  <div>
      <a href="/Reviews_Preston.html"><img class="cards" src="https://blog.rez-one.ca/hubfs/Preston-Elevation_resize.jpg" alt="">Preston House</a>
  </div>
  <div>
      <a href="/Reviews_Blair.html"><img class="cards" src="https://lh3.googleusercontent.com/proxy/TnibztBG24DE3ciTz2j7-0VP6Ww1wK9mWweuy1N_xRd_984WB6fCXoA6DOT186BuPcenjL7iBUE8FrN5tWpf_VTOYFiolLfAqB3jgN4NvL8xbTFEkGzAtpFchaa8k3Q1VDAHHxU0sZ31TsP1BGW1aCI" alt="Blair">Blair</a>
  </div>
  <div>
      <a href="/Reviews_Hespeler.html"><img class="cards" src="https://www.jddevelopment.ca/media/files/2020/Hespeler%20House[2].png" alt="Hespeler">Hespeler</a>
  </div>
  <div>
      <a href="/Reviews_Fergus.html"><img class="cards" src="https://image.uhzcdn.com/house/3c/9dc7526c5e720a1d3cc68deb60d8114e6adf20.png?x-oss-process=image/resize,m_fill,w_780,h_438,limit_0/interlace,1/quality,q_90/format,jpg" alt="Fergus">Fergus</a>
  </div>
  <div>
    <a href="/Reviews_Accomod8u.html"><img class="cards" src="https://static.wixstatic.com/media/29eef9_71ef4b950e0f4f8d9f0f27f90f78496c~mv2_d_3420_1722_s_2.jpg/v1/fill/w_640,h_400,al_t,q_80,usm_0.66_1.00_0.01/29eef9_71ef4b950e0f4f8d9f0f27f90f78496c~mv2_d_3420_1722_s_2.webp" alt="Accomod8u">Accomod8u</a>
  </div>
  <div>
    <a href="/Reviews_Sage.html"><img class="cards" src="http://d2kcmk0r62r1qk.cloudfront.net/imageSponsors/xlarge/2012_08_30_04_13_44_sagecondos.png" alt="Sage">Sage</a>
  </div>
  <div>
    <a href="/Reviews_King.html"><img class="cards" src="https://assets.centralindex.com/W/48/f5477261af2a93782f77d96cd0fb0c10.png" alt="King Street Towers">King Street Towers</a>
  </div>
</div>
    

      
  <footer>
    <h4>Contact Us</h4>
    <div class="icon-class">
      <a href="#" class="social-icons"><h3><i class="fab fa-linkedin"></i></h3></a>
      <a href="#" class="social-icons"><h3><i class="fab fa-instagram-square"></i></h3></a>
      <a href="#" class="social-icons"><h3><i class="fab fa-facebook-square"></i></h3></a>
    </div>
  </footer>

  </body>
</html>